[Desktop Entry]
Name=Pentaho Report Designer
Type=Application
Exec=/pentaho/design-tools/report-designer/report-designer.sh
Icon=/pentaho/design-tools/report-designer/pentaho_report_designer.ico
Terminal=true